.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 110vh;
  border-radius: 10%;
}

.gallerybox {
  min-width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.gallerypics {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.pic {
  width: 100%;
  height: 80%;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.pic img:hover {
  scale: 1.1;
  transition: 2ms;
}

.btn {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}

.btn button {
  color: black;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  position: relative;
  box-shadow: 5px 5px 5px;
}

.btn button:active {
  position: relative;
  top: 5px;
}

.btns {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 982px) {
  .gallerybox {
    min-width: 90%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .pic {
    width: 95%;
    height: 70%;
    margin-top: 5px;
  }
}
