@font-face {
  font-family: Headerfonts;
  src: url("./Static/Fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: Mojo;
  src: url("./Static/Fonts/FlorPersonalUseRegular-rgpoy.ttf");
}

:root {
  --primary-color: #39a0ca;
  --secondary-color: #161748;
  --quotes: #478559;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--secondary-color); */
  background-image: url("./Static/Pics/STARS.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 1px;
}

.Appdiv {
  min-width: 1000px;
  height: 98%;
}

header {
  width: 100%;
  height: 10%;
  border-bottom: 1pxs dashed black;
  font-family: Headerfonts;
  /* background-color: var(--primary-color); */
  background-color: white;
  border-radius: 20%;
  display: flex;
}

.burger {
  display: none;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mojo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-family: Mojo;
  color: rgb(54, 54, 158);
}

h1 {
  font-size: 20px;
}

.ul {
  width: 60%;
  height: 100%;

  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.active {
  color: black;
  border-bottom: 1px dashed black;
  list-style: none;
  font-size: 25px;
}
a {
  color: red;
}
.unactive {
  color: rgb(253, 0, 0);
  font-size: 18px;
  list-style: none;
}
.ulresponsive {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 110px;
  transition: 2ms;
  z-index: 3;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  color: white;
  padding-inline-start: 0px;
  padding: 5px;
}
a {
  text-decoration: none;
}

.body {
  width: 100%;
  height: 90%;
}

.homepage {
  background-image: url("./Static/Pics/image1.jpg");
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

footer {
  min-width: 1000px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socmedia {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.socmedia p {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: white;
  gap: 10%;
}

.dets {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}
.dets p {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  color: white;
}
.dets img {
  width: 20px;
  height: 20px;
}
.socmedia img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 982px) {
  .homepage {
    background-image: url("./Static/Pics/pexels-bruno-maceiras-2467558.jpg");
    background-position: center;
  }
  body {
    background-color: lightblue;
  }
  .Appdiv {
    min-width: fit-content;
    width: 100%;
  }
  footer {
    min-width: fit-content;
    width: 100%;
  }
  .ul {
    display: none;
  }
  .burger {
    display: block;
    width: 60px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
  }
  span {
    border-bottom: 1px solid black;
    width: 100%;
    height: 33%;
    color: black;
  }
  header {
    justify-content: center;
    gap: 2%;
    align-items: center;
  }
  nav {
    width: 30%;
    justify-content: flex-end;
  }
  .mojo {
    width: 50%;
  }
  .active {
    font-size: 12px;
    border-bottom: 1px dashed black;
    list-style: none;
    font-size: 13px;
  }
  .unactive {
    color: purple;
    font-size: 10px;
    list-style: none;
  }
}
